In [1]:
import pandas as pd

In [2]:
df_view = pd.read_csv('view_ecommerce.dat', delimiter='\t')

In [24]:
df_view.head(20)

    visitorid  itemid  event
0           1       1      1
1           1       2      1
2           1       3      1
3           1       4      1
4           1       5      1
5           1       6      1
6           1       7      1
7           1       8      1
8           1       9      1
9           1      10      1
10          1      11      1
11          1      12      1
12          1      13      1
13          1      14      1
14          1      15      1
15          1      16      1
16          2      17      1
17          2      18      1
18          2      19      1
19          2      20      1

In [5]:
df_cart = pd.read_csv('add_to_cart_ecommerce.dat', delimiter='\t')

In [6]:
df_cart.head()

   visitorid  itemid  event
0          1       1      1
1          1      16      1
2          2      21      1
3          4      60      1
4          7     103      1

In [8]:
df_purchase = pd.read_csv('purchase_ecommerce.dat', delimiter='\t')

In [9]:
df_purchase.head()

   visitorid  itemid  event
0          1       1      1
1          1      16      1
2          7     103      1
3          7     105      1
4          7     106      1

In [11]:
df_purchase.loc[df_view['visitorid']==69]

      visitorid  itemid  event
1044        579    3892      1
1045        579    3979      1
1046        579    3981      1
1047        579    4208      1
1048        579    4233      1
1049        579    4296      1
1050        579    4333      1
1051        579    4340      1

In [12]:
#create the list of all visitors that were making a purchase since they're more likely to buy more.
visitors = df_purchase['visitorid'].unique()
visitors[0:5]

array([ 1,  7,  8,  9, 10])

In [13]:
#total number of unique users
len(visitors)

824

In [14]:
#create the list of all items that were purchased since they're more likely to purchased more.
items = df_purchase['itemid'].unique()
items[0:5]

array([  1,  16, 103, 105, 106])

In [15]:
#total number of unique items
len(items)

3077

In [16]:
from scipy.sparse import csr_matrix

In [17]:
purchases = csr_matrix((visitors.shape[0], items.shape[0]), dtype='int8')

In [19]:
purchases #this matrix is computationally extensive to get info from.

<824x3077 sparse matrix of type '<class 'numpy.int8'>'
	with 0 stored elements in Compressed Sparse Row format>

In [22]:
#create cooccurance matrix
co_oc_matrix = purchases.transpose().dot(purchases)

In [23]:
co_oc_matrix

<3077x3077 sparse matrix of type '<class 'numpy.int8'>'
	with 0 stored elements in Compressed Sparse Column format>