In [2]:
import pandas as pd

In [6]:
df_view = pd.read_csv('view_ecommerce.dat', delimiter='\t')

In [12]:
df_view.head(10)

   visitorid  itemid  event
0          1       1      1
1          1       2      1
2          1       3      1
3          1       4      1
4          1       5      1
5          1       6      1
6          1       7      1
7          1       8      1
8          1       9      1
9          1      10      1

In [13]:
df_view.describe()

          visitorid        itemid    event
count  78371.000000  78371.000000  78371.0
mean    1672.275280   3128.034579      1.0
std      985.121303   2248.049066      0.0
min        1.000000      1.000000      1.0
25%      805.000000   1185.000000      1.0
50%     1679.000000   2742.000000      1.0
75%     2518.000000   4773.000000      1.0
max     3431.000000   8885.000000      1.0

In [14]:
df_cart = pd.read_csv('add_to_cart_ecommerce.dat', delimiter='\t')

In [15]:
df_cart.head()

   visitorid  itemid  event
0          1       1      1
1          1      16      1
2          2      21      1
3          4      60      1
4          7     103      1

In [16]:
df_cart.describe()

         visitorid       itemid   event
count  9028.000000  9028.000000  9028.0
mean   1682.938857  3099.533451     1.0
std     983.557954  2210.969939     0.0
min       1.000000     1.000000     1.0
25%     819.000000  1227.750000     1.0
50%    1729.000000  2649.000000     1.0
75%    2541.000000  4703.250000     1.0
max    3429.000000  8869.000000     1.0

In [18]:
df_purchase = pd.read_csv('purchase_ecommerce.dat', delimiter='\t')

In [19]:
df_purchase.head()

   visitorid  itemid  event
0          1       1      1
1          1      16      1
2          7     103      1
3          7     105      1
4          7     106      1

In [20]:
df_purchase.describe()

         visitorid       itemid   event
count  5088.000000  5088.000000  5088.0
mean   1664.824489  3028.611046     1.0
std     978.161166  2186.526289     0.0
min       1.000000     1.000000     1.0
25%     805.000000  1195.000000     1.0
50%    1690.000000  2534.000000     1.0
75%    2584.000000  4607.250000     1.0
max    3429.000000  8852.000000     1.0

In [41]:
df_view.loc[df_view['visitorid']==10]

     visitorid  itemid  event
159         10     160      1
160         10     161      1
161         10     162      1
162         10     163      1

In [42]:
df_cart.loc[df_cart['visitorid']==10]

    visitorid  itemid  event
17         10     159      1
18         10     160      1
19         10     163      1

In [43]:
df_purchase.loc[df_cart['visitorid']==10]

    visitorid  itemid  event
17         16     249      1
18         17     255      1
19         19     276      1